<ion-footer class="ion-no-border">
  <div class="footer-master-container">
    <div class="footer-content-flex">
      
      <div class="footer-item">
        <ion-text class="label-oro">SÍGUEME:</ion-text>
        <div class="social-icons">
          <a href="https://wa.me/584144838711" target="_blank"><ion-icon name="logo-whatsapp"></ion-icon></a>
          <a href="https://t.me/+584144838711" target="_blank"><ion-icon name="paper-plane"></ion-icon></a>
          <a href="https://linkedin.com" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
          <a href="https://github.com/Kapivara01" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
        </div>
      </div>

      <div class="vertical-divider"></div>

      <div class="footer-item">
        <ion-text class="copyright-text">&copy; 2026 Ing. Jorge Luis Linares</ion-text>
      </div>

    </div>
  </div>
</ion-footer>