<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" style="padding: 16px;">
    <h2 class="capitalize">{{ folder }}</h2>
    
    <ion-card>
      <ion-card-content>
        <p>Bienvenido a la sección <strong>{{ folder }}</strong>.</p>
        <p>Aquí gestionaremos el contenido del portafolio.</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Jorge Linares - Ing. de Sistemas © 2026</ion-title>
  </ion-toolbar>
</ion-footer>
