ion-card {
  img {
    width: 100% !important;
    height: 200px !important;
    min-height: 200px !important;
    object-fit: cover !important;
    display: block !important;
    background-color: #e2e8f0;
  }
}